* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    color: #000;
    text-decoration: none;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000;
}

.link-menu {
    position: absolute;
    left: 50px;
    top: 50px;
    padding: 15px;
    background: yellow;
    border-radius: 15px;
}

/* END TEMPLATE */

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 24px;
    padding: 20px 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px;
    transition: 0.5s;
    /* border: 1px solid white; */
    position: relative;
}

/* color #1fbfff */

.btn a {
    box-sizing: border-box;
    color: white;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.btn:hover::before {
    background: #1fbfff;
}

.btn:hover::after {
    background: #1fbfff;
    box-shadow: 0 0 10px #1fbfff,
                0 0 20px #1fbfff,
                0 0 40px #1fbfff;
}