* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    margin: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
